<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
      <meta name="theme-color" content="#81D4FA">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit" style="background-color: #81D4FA;">
  <div class="stackedit__html"><h1 id="about-">About :</h1>
<p>Sup ? I’m Akshay T.</p>
<blockquote>
<p><a href="http://aksty.github.io">aksty.github.io</a></p>
</blockquote>
<p>Cricket Scores are fetched from<br>
<a href="https://www.cricbuzz.com/match-api/matches.json">https://www.cricbuzz.com/match-api/matches.json</a></p>
<h1 id="credits-">Credits :</h1>
<p><a href="https://palletsprojects.com/p/flask/">Flask</a><br>
<a href="https://getbootstrap.com/">Bootstrap</a><br>
<a href="https://michalsnik.github.io/aos/">Animate On Scroll</a><br>
<a href="https://stackedit.io/">StackEdit</a><br>
<a href="https://pypi.org/project/cricbuzz-py/">cricbuzz-py</a></p>
<h1 id="source-code">Source Code:</h1>
     <p> <a href="https://github.com/aksty/Cricscores">Github</a></p>
</div>
</body>

</html>
